/* Khrystyna  */

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap'); 
/* font-family: 'Aguafina Script', cursive; */

body {
  background: #261e1c;
  color: white;
  
}
button {
  padding: 0.35em 1.2em;
  border: 0.2em solid #c8693a;
  margin: 0 0.4em 0.3em 9em;
  color: #ffffff;
  text-align: center;
  background-color: #c8693a;
}
.button-transparent {
  padding: 0.35em 1.2em;
  border: 0.2em solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  transition: color 0.7s;
  background-color: transparent;
}

.button-common {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* h6 {
  text-align: center;
  color: white;
}

h6 {
  text-align: center;
  color: #c8693a;
}
p {
  text-align: center;
  color: white;
}
h3 {
  text-align: center;
} */
/* img {
  width: 100%;
} */




/* Vasyl */
header {
  background-image: url(../img/bottle-and-grapes-on-table.webp);
  width: 100%;
}
header nav .logo-icon {
  display: flex;
  height: 44px;
  width: 176px;
}
header nav .menu a {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  text-decoration: unset;
}
header .social {
  display: flex;
  justify-content: center;
}
header nav .social a {
  height: 20px;
  width: 20px;
  padding: 0px;
  border: 15px;
  margin: 10px;
}
@media (min-width: 560px) {
  header nav {
    display: flex;
    padding: 30px;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    display: flex;
  }
  header .social {
    display: flex;
  }
}

/* Khrystyna  */
@media (min-width: 560px) {
  .shop-wines {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}
img {
  max-width: 560px;
  /* display: block; */
}



.picture-wrapper-m {
  display: flex;
  justify-content: center;
}
.cta-discover {
  align-items: center;
  background-attachment: fixed;
  background-image: url(../img/optimized_man-and-woman.webp);
  min-height: 500px;
  background-size: 100%;
}

.about-main {
  background-image: url(../img/soave-backround.webp);
  max-width: auto;
  background-size: 100%;
}
.picture-shelf {
  max-width: auto;
}
.about-in{
  background-image: url(../img/soave-backround.webp);
  background-size: 100%;
  background-position: right; 
}
.crafted-by-our-winemakers-text {
  text-align: center;
  color: #c8693a;
  padding-block: 50px;
  font-family: 'Aguafina Script', cursive;

}

.discover-our-wines-inside-text{
  text-align: center;
  color: #ffffff;
}
 .pict-wrap{
  justify-content: center;
}
.find-your-ideal-text{
  text-align: center;
  color: #ffffff;

}

/*  */
/*  */

/*Juliya*/
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@media (min-width: 650px) {
  .header-section{
    margin-top: 50px;
    display: grid;
    grid-template-columns:1fr 1fr;
  }
}
  .header-section{
    display: grid;
    text-align: center;
    margin: 20px 15px 0px 15px;
    font: inherit;
    vertical-align: baseline;
    justify-content: center;
} 
@media (min-width: 768px){
  .section-inner{
    padding: 0 32px;
}
}
@media (min-width: 480px){
  .section-inner{ 
    padding: 0 24px;
 }
}
        
.section-inner{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.page-name {
  font-family: 'Great Vibes', cursive;
  font-size: 14px ;
  color: #C8693A;
  margin: 10px 0px 10px 0px;
}
    
.title {
  font-family: 'Prata', serif;
  font-size: 34px;
  color: white;
  margin: 10px 0px 10px 0px;
}
.picture-wrapper-my{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}
/*Testimonial-section*/
.text-content{
  display:flex;
  color: #898082 ;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  justify-content: center;
  max-width: 100%;
  word-wrap: break-word;
  margin: 20px 0px 10px 0px;
}
  
.carousel-item{
  padding: 0 15px;
}
  
.button{
  size: 1px;
  margin: 20px;
  background-color: #C8693A;
  box-sizing: content-box;
}
.carousel-item .text{
  height: 200px;
  margin-top: 15px;
}
  
.carousel-caption{
  width: 70%;  
}
.carousel-indicators {
  margin-top: 20px;
}
.carousel-indicators [data-bs-target] {
  background-color: #C8693A;
  box-sizing: border-box;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  margin-top: 20px; 
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #C8693A;
  border-radius: 100%;
  display: block;
  width: 20px;
  height:20px;
  padding: 0;
  top: 50%;
  position: absolute;
} 
/*Blog-section*/

.section-content {
  font-family: "Rubik", sans-serif;
  font-size: 18px bold;
  display: flex;
  height: 450px;
  width: 100%;
  justify-content: center;
  font-weight: 600;
  line-height: 32;
  align-items: center;
  color: white;
}
/*FAQ-section*/
.accordion-item-title{
  width: 100%;
  position: relative;
  color: white;
  background-color: #261e1c;
  font-family: Prata, serif;
  font-size: 22px;
  text-align: left;
  height: 35px;
  vertical-align: center;
  cursor: pointer;
  
}
.accordion-item-title::before{
  content: "+";
  position: absolute;
  top: 50%;
  transform:translate(0, -50%);
  right: 20px;
  font-size: 24px;
}
.accordion-item-content{
  position: relative;
  color: #898082;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  height: 0;
  overflow: hidden;
  transition: .5s ease-in-out;
  border-bottom: 1px solid #777;
}
.accordion-item.active .accordion-item-content{
  height: 35px;
}
