/* Khrystyna */

body{
 background: #261e1c;
}

h6{

 color: #c8693a;
    
}
h2{
    
    color: white

}
p{ 
   
    color: white

}

li{
    color: rgb(137,128,130);
}


.about-backround{
 background-image: url(img/shelf-with-wine.webp);
 size: 360x;
}


