/* Khrystyna  */

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap'); /* font-family: 'Aguafina Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* Не рухати */
body {
  background: #261e1c;
  color: white;
}

section {
  padding: 50px 0 100px ;
}

.btn-orange {
  background-color: #c8693a;
  color: white;
  margin-right: 10px;
  padding: 12px 20px;
}
.btn-orange:hover{
  background-color: #e45d19;
  color: white;
}
.btn-white {
  border: solid 2px white;
  background-color: transparent;
  padding: 10px 20px;
}
.btn-white:hover{
  background-color: white;
  color: black;
}
.orange {
  color: #c8693a;
}
.bg {
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
a{
  text-decoration: none;
}
a:hover{
  color: ;
}
.text-subtitle{
  font-family: 'Great Vibes', cursive;
  font-size: 28px ;
  color: #C8693A;
  margin: 20px 0px 20px 0px;
 }

 .text-title{
  font-family: 'Prata', serif;
  font-size: 48px;
  color: white;
  margin: 20px 0px 40px 0px;
 }
 .text-paragraph{
  display:flex;
  color: #898082 ;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  justify-content: center;
  max-width: 100%;
  word-wrap: break-word;
  margin: 20px 0px 40px 0px;
 }
/* не рухати */

/* Vasyl */
/* header {
  background-image: url(../img/bottle-and-grapes-on-table.webp);
  background-size: cover;
} */



 .cali-logo{
   width: 200px;
 }
header nav .logo-icon {
  display: flex;
  height: 44px;
  width: 176px;
}
header nav .menu a {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  text-decoration: unset;
}
header .social {
  display: flex;
  justify-content: center;
}
header nav .social a {
  height: 20px;
  width: 20px;
  padding: 0px;
  border: 15px;
  margin: 10px;
}
@media (min-width: 560px) {
  header nav {
    display: flex;
    padding: 30px;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    display: flex;
  }
  header .social {
    display: flex;
  }
.cover {
  text-align: center;
  
}

/* Khrystyna  */

  .shop-wines {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

img {
  
  display: block;
  margin: auto;
}



.picture-wrapper-m {
  display: flex;
  justify-content: center;
  display: block;
  margin: auto;
}
.cta-discover {
  background-image: url(../img/optimized_man-and-woman.webp);
 
}
 .text-wine {
  font-family: 'Great Vibes', cursive;
  font-size: 34px ;
  color: #C8693A;
  margin: 20px 0px 20px 0px;
  }
 .text-discover{
  font-family: 'Prata', serif;
  font-size: 84px;
  color: white;
  margin: 20px 0px 40px 0px;
 }
 .text-p{
  display:flex;
  color: #898082 ;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  justify-content: center;
  max-width: 100%;
  word-wrap: break-word;
  margin: 20px 0px 20px 0px;
}

.picture-shelf {
  
  width: 100%;
}
.picture-section{
  margin: 0 60px;
}
 .the-beginning-date {
  font-family: 'Great Vibes', cursive;
  font-size: 18px ;
  margin: 40px 0px 20px ;
 }
 .the-beginning-name{
  font-family: 'Prata', serif;
  font-size: 28px;
  margin: 10px 0px ;
 }
 .strip{
  margin: 10px 0px ;
 }
 .the-beginning-text{
  color: #898082 ;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  margin: 10px 0px ;
 }




.history-content-section{
  margin: 0 60px;
 }


.about-in{
  background-image: url(../img/soave-backround.webp);
   background-size: cover;
}
.crafted-by-our-winemakers-text {
  text-align: center;
  color: #c8693a;
  padding: 50px;
  font-family: 'Aguafina Script', cursive;

}

.discover-our-wines-inside-text{
  text-align: center;
  color: #ffffff;
}
 .pict-wrap{
  justify-content: center;
}
.find-your-ideal-text{
  text-align: center;
  color: #ffffff;

}

/*Juliya*/


.header-section{
  display:grid;
  text-align: center;
  padding: 0px 15px 0px 15px;
  margin-top: 30px;
  font: inherit;
  vertical-align: baseline;
  justify-content: center;
}

.section-inner{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}


.page-name {
  font-family: 'Great Vibes', cursive;
  font-size: 14px ;
  color: #C8693A;
  margin: 10px 0px 10px 0px;

}

.title {
  font-family: 'Prata', serif;
  font-size: 34px;
  color: white;
  margin: 10px 0px 10px 0px;
}

.text-content{
  display:flex;
  color: #898082 ;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  justify-content: center;
  max-width: 100%;
  word-wrap: break-word;
  margin: 20px 0px 10px 0px;
}

/*Testimonial-section*/


.carousel-button{
  size: 1px;
  margin: 20px;
  background-color: #C8693A;
  box-sizing: content-box;
}
.carousel-item{
  height: 200px;
  margin-top: 15px;
}

.carousel-caption{
  width: 70%;
}
.carousel-indicators [data-bs-target] {
 background-color: #C8693A;
 box-sizing: border-box;
 display: block;
 width: 10px;
 height: 10px;
 border-radius: 100%;
 cursor: pointer;
 padding: 5px;
 text-align: center;
 margin-top: 20px; 
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #C8693A;
  border-radius: 100%;
  display: block;
  width: 20px;
  height:20px;
  padding: 0;
  top: 50%;
  position: absolute;
  
}
/*BLOG section*/

.blog-section-content {
  display: flex;
  height: 450px;
  width: 100%;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  color: white;
  font-family: 'Rubik', sans-serif;
  align-items: center;
  border: 1px solid rgba(33, 39, 54, 0.12);
}    

/*question*/
.picture-wrapper-faq {
  display: flex;
  justify-content:left;
}
.faq-section{
  padding: 50px 0px;
}
.faq-section-inner{
  padding: 0px 40px;
  height: 100%;
}
.faq-section-content{
  margin: 0;
  padding: 0;
  display: grid;
}

.header-section-faq {
  display:grid;
  margin-top: 30px;
  padding: 0px 15px 0px 15px;
  font: inherit;
  vertical-align: baseline;
  justify-content: left;
}
.accordion-wrapper{
  align-items: flex-start;
}
.accordion-item{
  border: none !important;
  position: relative;
  cursor: pointer;
}
.accordion-item-title{
  width: 100%;
  position: relative;
  color: white;
  background: #261e1c;
  font-family: Prata, serif;
  font-size: 18px;
  height: 100%;
  padding: 15px 0px;
}   
.accordion-item-title::before{
  content: "+";
  position: absolute;
  top: 50%;
  transform:translate(0, -50%);
  right: 20px;
  font-size: 24px;
}
.accordion-item-content{
  position: relative;
  color: #898082;
  background: #261e1c;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  height: 0;
  overflow: hidden;
  transition: .5s ease-in-out;
  border-bottom: 1px solid #777;
}
.accordion-item.active .accordion-item-content{
  height: 35px;
}
.accordion-item.active .accordion-item-title::before{
  content: "-";
}
/*icon-section*/
.mini-icons{
  padding: 50px 0px 120px;
}
.item{
  
  margin: -30px -15px 0px;
}
.icons{
  margin-top: 30px;
  padding: 0px 15px;
}
.icon-panel-wrapper-inner{
  position: relative;
  background: #342e2e;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.mini-icon{
  display: flex;
  position: absolute;               
  top: 50%;  
  left: 30%; 
  transform: translate(0, -50%);
  color: #C8693A !important;
  width: 30px;
  height: 30px;
  background: #342e2e;
  border-radius: 50%;
}
.icon-title{
  color: white;
  font-family: Prata, serif;
  font-size: 18px;
}
.underline{
  color: #C8693A;
  height: 2px;
  width: 15%;
}
.icon-text {
  color:#898082;
  font-family: Rubik, sans-serif;
  font-size: 14px;
}